<section id="hochzeit" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Trauung</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Wann</dt>
                    <dd>Samstag, 24 August 2024 um 14:45 Uhr</dd>
                    <dt>Wo</dt>
                    <dd>
                        Standesamt Münster<br>
                        <a href="https://maps.app.goo.gl/kW7APBK5S2SMT1YA8">Lotharinger Kloster Hörsterstraße 28, 48143
                            Münster
                        </a>
                    </dd>
                    <dt></dt>
                    <dd>Die standesamtliche Trauung wird im kleinen Kreis stattfinden. Ihr seid herzlich eingeladen
                        bereits
                        vor Ort mit uns anzustoßen. Ansonsten freuen wir uns sehr euch anschließend bei der Feier zu
                        sehen.</dd>
                </dl>
                <h2 class="section-heading text-center">Feier</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Wann</dt>
                    <dd>Samstag, 24 August 2024 um 16:30 Uhr</dd>
                    <dt>Wo</dt>
                    <dd>
                        Pipavino e Amici<br>
                        <a href="https://maps.app.goo.gl/1bsUw12stQctTNdN6">Dingbängerweg 349, 48161 Münster
                        </a><br>
                        Telefon: 02534 6449191
                    </dd>
                    <dt>Dresscode</dt>
                    <dd>Festliche Sommerkleidung</dd>
                    <dt>Anfahrt</dt>
                    <dd>Am besten mit dem Auto. Alternativ mit dem Bus (RB63 oder RB64) bis Münster Ackermann. Von dort
                        aus sind es noch ca. 15 Minuten zu Fuß.
                    </dd>
                    <dt>Parken</dt>
                    <dd>Parkplätze sind am Pipavino zahlreich vorhanden</dd>
                    <!-- <dt >Weitere Infos</dt>
                    <dd>
                        Am Pipavino werden wir das hoffentlich gute Wetter unter freiem Himmel bei einem kleinen
                        Sektempfang und Kuchenbuffet genießen. Asnchließend werden wir gegen 18:30 Uhr das Buffet
                        eröffnnen. Danach darf dann ordentlich das Tanzbein geschwungen werden.
                    </dd> -->
                    <dt>Geschenke</dt>
                    <dd>Wir wünschen uns vor allem einen Tag mit feierfreudigen Gästen und vielen schönen Erinnerungen.
                        Wer uns darüber hinaus eine Freude machen möchte, darf gerne einen Beitrag zu unserer
                        Hochzeitsreise leisten.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<!-- <section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at a vineyard in classic Niagara style</dd>
                    <dt>When</dt>
                    <dd>Saturday, July 2, at 4:15 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Ravine Vineyard<br>
                            <a href="https://goo.gl/maps/dSSnoZGtUyK2">1366 York Rd, St. Davids, ON L0S 1P0,
                                Canada</a><br>
                            Phone: +1 289-868-9627
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is a vineyard, there is grass, and your stilettos may sink deep
                        into it.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be three bus pick up options for guests:
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">White Oaks</a>: <strong>3:30pm</strong>
                            <li><a href="https://goo.gl/maps/o8KTZQg51Mt">Hilton Garden Inn</a>: <strong>3:45pm</strong>
                            <li><a href="https://goo.gl/maps/9KcZQProDN12">Fort George</a> (Downtown
                                Niagara-on-the-Lake): <strong>3:45pm</strong>
                        </ul>
                        Buses will be returning to the hotels and downtown Niagara-on-the-Lake throughout the night.

                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at Ravine</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Cory and Rowena after the reception can
                        head to the <a href="https://goo.gl/maps/a9uGVVQwqBT2">Sandtrap Pub and Grill</a>.
                        Buses will also be dropping off there.
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
    {% endcomment %}
</section> -->
<section id="übernachtung" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Übernachtungsmöglichkeiten</h2>
                <hr class="primary">
                <p>Hotels und Airbnbs gibt es in Münster viele, hier ist eine kleine Auswahl:</p>
                <ul class="dl-horizontal lead">
                    <li><a href="https://maps.app.goo.gl/LVQ777eoPKJ1DyhQ9">Parkhotel Hohenfeld</a> 👣🐶</li>
                    <li><a href="https://maps.app.goo.gl/1qkdDy1vZVGKZgGB8">Park-Lodge am
                            Rohrbusch</a> 👣🐶👥</li>
                    <li><a href="https://maps.app.goo.gl/MUujiqwuBDybHa8r5">Ibis Münster</a> 🐶🚄</li>
                    <li><a href="https://maps.app.goo.gl/Hfigbi9zurWCqAq68">Stadthotel Münster</a> 🐶🚄</li>
                    <li><a
                            href="https://www.airbnb.com/rooms/835596694817617342?check_in=2024-08-23&check_out=2024-08-25&guests=1&adults=6&s=67&unique_share_id=762d5d1c-5339-48c9-ab71-9f6a0e63be7d">Airbnb
                            Apartment Aasee</a> 👥</li>
                    <li><a
                            href="https://www.airbnb.com/rooms/45482506?check_in=2024-08-23&check_out=2024-08-25&guests=1&adults=6&s=67&unique_share_id=30805d3e-8f49-4c98-86be-5a14baa01001">Airbnb
                            Apartment Bahnhof</a> 👥🚄</li>
                </ul>
                <p>👣: Fußläufig zur Location, 🐶: Haustiere erlaubt, 👥: Für Gruppen geeignet, 🚄: In der nähe vom
                    Münster HBF</p>
            </div>
        </div>
    </div>
</section>