<section id="rsvp" class="bg-dark">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">Rückmeldung</h2>
            <hr class="primary">
            <p>
                Wir freuen uns sehr, dass ihr mit uns feiern möchtet. Bitte gebt uns bis zum 15. April Bescheid,
                ob
                ihr dabei seid.
            </p>
            <form action="/" method="post">
                {% csrf_token %}
                <!-- {{ form }} -->
                <div class="text-center">
                    <div class="form-group">
                        <div>Ich/wir heiße/n <input type="text" class="answer" style="width: 200px" maxlength="100"
                                id="names" required /> und
                            sind ...
                        </div>
                        <div class="fieldWrapper" style="margin-top: 1em">
                            <label class="switch">
                                <input type="checkbox" id="is_attending">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="entry-field">
                        <!-- <div class="fieldWrapper">Ich/wir komme/n bereits zum Standesamt mit <input type="text"
                                maxlength="1" class="answer" id="number_of_guests" /> Personen.</div> -->
                        <div class="fieldWrapper">Ich/wir komme/n zur Feier im Pipavino mit <input type="text"
                                maxlength="1" class="answer" id="number_of_guests" /> Personen.</div>
                        <div class="fieldWrapper">Folgendes wäre mir beim Essen wichtig (z.B. vegetarisch, vegan, etc.):
                            <input type="text" class="answer" id="meal" style="width: 200px" />.
                        </div>
                        <div>Bei diesen Liedern seht ihr mich/ uns auf jeden Fall auf der
                            Tanzfläche:
                        </div>
                        <div class="fieldWrapper">
                            1. <input type="text" class="answer" id="song_1" style="width: 200px" />
                        </div>
                        <div class="fieldWrapper">
                            2. <input type="text" class="answer" id="song_2" style="width: 200px" />
                        </div>
                        <div class="fieldWrapper">
                            3. <input type="text" class="answer" id="song_3" style="width: 200px" />
                        </div>
                    </div>
                    <input type="submit" class="btn btn-outline-primary" value="Abschicken">
                </div>
            </form>
        </div>
    </div>
</section>