<section id="rückmeldung" class="bg-dark">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">Rückmeldung</h2>
            <hr class="primary">
            <div class="text-center">
                <p>
                    Wir würden uns sehr freuen, wenn ihr bei unserer Hochzeit dabei sein könnt. Bitte gebt uns bis zum
                    mhmhm. Bescheid ob und ggf. mit wem ihr kommt.
                </p>
                <form method="post">
                    {% csrf_token %}
                    <p>Ich / wir heiße / n <input type="text" class="answer" id="names" name="names" required /> und
                        sind ...
                    </p>
                    <label class="switch">
                        <input type="checkbox" id="is_attending" name="is_attending">
                        <div class="slider round"></div>
                    </label>
                    <div id="entry-field">
                        <br>
                        <div style="font-size: 18px; margin-bottom: 20px;">
                            Ich / wir komme / n
                            <label>
                                <input type="checkbox" class="btn-check" id="attending_standesamt"
                                    name="attending_standesamt" autocomplete="off">
                                <div class="btn btn-primary">zum Standesamt</div>
                            </label>
                            und / oder
                            <label>
                                <input type="checkbox" class="btn-check" id="attending_party" name="attending_party"
                                    autocomplete="off">
                                <div class="btn btn-primary">zur Feier</div>
                            </label>.
                        </div>
                        <p>Folgendes wäre mir / uns beim Essen wichtig (vegetarisch, vegan,
                            etc.):
                            <input type="text" class="answer" name="meal" id="meal" />.
                        </p>
                        <p>Bei diesen Liedern seht ihr mich / uns auf jeden Fall auf der
                            Tanzfläche:
                        </p>
                        <p>
                            1. <input type="text" class="answer" name="song_1" id="song_1" />
                        </p>
                        <p>
                            2. <input type="text" class="answer" name="song_2" id="song_2" />
                        </p>
                        <p>
                            3. <input type="text" class="answer" name="song_3" id="song_3" />
                        </p>
                    </div>
                    <input type="submit" class="btn" value="Abschicken">
                </form>
            </div>
        </div>
    </div>
</section>
{% if rsvp_flag %}
<script>alert("Viel Dank für die Rückmeldung!")</script>
{% endif %}