<section id="rückmeldung" class="bg-dark">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">Rückmeldung</h2>
            <hr class="primary">
            <div class="text-center">
                <p>
                    Wir würden uns freuen, wenn ihr bei unserer Hochzeit dabei sein könnt. Bitte gebt uns bis zum
                    23. Juni Bescheid ob und ggf. mit wem ihr kommt.
                </p>
                <form method="post">
                    {% csrf_token %}
                    <p>Bitte gebt eure(n) Name(n) an: <input type="text" class="answer" id="names" name="names"
                            required />
                    </p>
                    <div class="switch-container">
                        Seid ihr dabei?&nbsp;
                        <label class="switch">
                            <input type="checkbox" id="is_attending" name="is_attending">
                            <div class="slider round"></div>
                        </label>
                    </div>
                    <div id="entry-field">
                        <div class="switch-container">
                            Auch bereits am Standesamt?&nbsp;
                            <label class="switch">
                                <input type="checkbox" id="attending_standesamt" name="attending_standesamt">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <p>Bitte gebt an, wenn wir etwas beim Essen beachten sollen (vegetarisch, Unverträglichkeiten,
                            etc.):
                            <input type="text" class="answer" name="meal" id="meal" />
                        </p>
                        <p>Welche Hits holen euch auf die Tanzfläche?
                        </p>
                        <p>
                            Hit 1: <input type="text" class="answer" name="song_1" id="song_1" />
                        </p>
                        <p>
                            Hit 2: <input type="text" class="answer" name="song_2" id="song_2" />
                        </p>
                        <p>
                            Hit 3: <input type="text" class="answer" name="song_3" id="song_3" />
                        </p>
                    </div>
                    <input type="submit" class="btn" value="Abschicken">
                </form>
            </div>
        </div>
    </div>
</section>
{% if rsvp_flag %}
<script>alert("Viel Dank für die Rückmeldung!")</script>
{% endif %}