.switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c25252;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #5da85f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(125px);
}

.slider:after {
    content: 'nicht dabei';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider:after {
    content: 'dabei';
}

#entry-field {
    transition: opacity 0.5s, max-height 0.5s;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.answer {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    width: 200px;
    text-align: center;
}


.btn-check {
    display: none;
}

.btn-primary {
    color: white;
    border: none;
    border-radius: 5px;
}

input:checked+.btn-primary {
    background-color: #5da85f;
}

input:not(:checked)+.btn-primary {
    background-color: #c25252;
}