{% extends "base.html" %}
{% load static %}
{% block page_head %}
<!-- Custom CSS -->
<link href="{% static 'wedding/css/creative.css' %}" rel="stylesheet">
<link href="{% static 'wedding/css/rsvp.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Hochzeit Lari und Ferdi</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#main-header">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#hochzeit">Hochzeit</a>
                </li>
                <li>
                    <a class="page-scroll" href="#übernachtung">Übernachtung</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rückmeldung">Rückmeldung</a>
                </li>
                <li>
                    <a class="page-scroll" href="#kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% block main %}
<header id="main-header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Lari und Ferdis Hochzeit</h1>
        </div>
    </div>
</header>
<section class="bg-info" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="font-weight: 700;" class="section-heading">Hey Ihr Lieben!</h2>
                <hr>
                <p>
                    Wir heiraten! Es würde uns sehr freuen, wenn ihr diesen besonderen Tag mit uns verbringt.
                </p>
                <p>
                    Falls ihr Infos zu Unterkünften, Anfahrt oder dem Ablauf der Feierlichkeiten sucht, seid ihr hier
                    genau richtig!
                </p>
                <p>
                </p>
                <p class="pull-right">- Lari und Ferdi</p>
            </div>
        </div>
    </div>
</section>
{% include 'partials/hochzeit.html' %}
{% include 'partials/rückmeldung.html' %}
<section id="kontakt" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ihr wollt uns überraschen?</h2>
                <hr class="primary">
                <p>Für Kreativbeiträge könnt ihr euch an folgende Adresse wenden</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="email"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% endblock %}
{% block page_js %}
<!-- Plugin JavaScript -->
<!-- Easing is for the vertical scroll animations -->
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}